# Deparamento de asesorias 
Facultad de Ciencias Fisico Matemáticas

Python se ha convertido en el lenguaje de programación mas usado en “Data Science” y Machine Learning.
Para la realizacion de algoritmos usaremos notebooks que es una opcion de Google y es ofrecida de forma gratuita en la nube a quienes tienen una cuenta de Google. Esta herramienta es “Google Colaboratory” o mejor conocida como “Google Colab”, que no es otra cosa que notebooks de Jupyterlab que podemos ejecutar enla nube y que se almacenara en nuestro Google Drive.

Primero revisaremos como asignar variables y darles valor.
Si a una variable x1 queremos darle un valor de 3.14 podemos hacerlo de la siguiente manera:

In [1]:
x1 = 3.14

Y para poder ver el valor de la variable solo falta en ejecutar el nombre de esta.

In [2]:
x1

3.14

Cabe destacar que para variables que son texto debemos ponerlo entre comillas

In [3]:
x2 = 'A'

In [4]:
x2

'A'

Podemos realizar muchas operaciones en pyhton, incluso procedimientos que toman mucho tiempo hacerlos a mano, aqui solo basta con una linea de codigo. Pero empecemos con las operaciones básicas

In [5]:
#sumar 3 + 5
3 + 5

8

In [6]:
#Restar 9 - 4
9 - 4

5

In [7]:
#Multiplicar 6 * 8
6 * 8

48

In [8]:
#Dividir 15/3
15 / 3

5.0

In [9]:
#Potencia 9 ** 2
9 ** 2

81

In [10]:
#Tambien podemos elevar un numero a una potencia de esta manera: pow(numero, potencia)
pow(2,2)

4

Notese que se hizo uso de "#" para poner texto en celdas que estan destinadas a codigo

Tambien podemos usar strings

In [11]:
'F' + 'C' + 'F' + 'M'

'FCFM'

**Valores booleanos**

Los valores booleanos son:
####Igualdad ==
####Distintos !=
####Mayor que >
####Menor que <
####Mayor o igual que >=
####Menor o igual que <=

In [12]:
7 > 5

True

In [14]:
10 < 5 & 3 < 2

False

In [15]:
2 == 3

False

**Listas en Python**
Una lista es una coleccion de objetos

In [30]:
#Creemos una lista
alumno1 = ['Maria', 'Gonzalez', 21]

In [31]:
#Veamos el contenido de la lista, tambien podemos hacerlo de esta manera
print(alumno1)

['Maria', 'Gonzalez', 21]

Hay que tomar en cuenta que python cuenta desde cero, es decir que la posicion de un elemento en una lista se empieza a contar desde el cero. Si queremos escoger 'Gonzalez' seria el elemento 1

In [32]:
#Quiero seleccionar el apellido de mi lista
alumno1[1]

'Gonzalez'

Tambien podemos añadir elementos a una lista

In [33]:
alumno1.append('Femenino')
alumno1

['Maria', 'Gonzalez', 21, 'Femenino']

Tambien podemos eliminar

In [34]:
alumno1.remove('Gonzalez')
alumno1

['Maria', 21, 'Femenino']

# Librerías para Estadística en Python

Empezaremos explorando la librería PANDAS, una de las más importantes para la administración de datos.
A partir de este punto, y los siguientes capítulos, examinaremos las más importantes y más usadas librerías:
* 	Pandas: importa, administra y manipula data frames en diversos formatos, extrae parte de la información, combina y también contiene estadísticos básicos
* 	NumPy: paquete para computación científica, contiene muchas funciones de muy alto nivel matemático, además genera números aleatorios y permite la creación de arreglos.
* 	Matplotlib: librería que permite la creación de graficas a partir de los datos
*   SciPy: contiene más de 60 funciones estadísticas y matemáticas
*   Scikit-learn: la herramienta más importante para el análisis estadístico y machine

## Pandas

Pandas es una biblioteca Python de código abierto que contiene varias herramientas para importar, gestionar y manipular datos. Tiene una serie de alto nivel características para manipular, reorganizar y escanear datos estructurados, incluyendo el corte, la gestión de valores perdidos, la reestructuración de datos, la extracción partes de conjuntos de datos e importación y análisis de datos desde la Web.
Podemos:
* 	Leer e importar datos estructurados
* 	Organizar y manipularlos
*   Calcular estadísticos básicos

Podemos importar la librería completa de la siguiente manera:

In [1]:
import pandas as pd

O solo la estructura primaria en Pandas, que son las series y los data frames:

In [2]:
from pandas import Series, DataFrame

## Pandas: Series
Como primera acción, siempre se instala y descarga el paquete, de la siguiente manera:

In [3]:
import pandas as pd

Como se puede, se importó la librería con su nombre abreviado: pd. Para llamar una función de pandas lo escribimos de la siguiente manera:
*pd.function_name()*

O solo la estructura primaria en Pandas, que son las series y los data frames:

In [4]:
from pandas import Series, DataFrame

En este caso al momento de crear alguna de estas dos estructuras no es necesario especificar “pd” al inicio. 
La primera estructura que veremos serán las series, las cuales están conformadas por un arreglo unidimensional ordenado por un índice. Creemos nuestra primera serie:

In [5]:
series1 = Series([25, 27, 28, 30], 
    index = ["student1", "student2", "student3", "student4"])

In [6]:
print(series1)

student1    25
student2    27
student3    28
student4    30
dtype: int64

In [7]:
#Podemos usar la función .describe() para adquirir algo de información estadística acerca de la serie
series1.describe()

count     4.000000
mean     27.500000
std       2.081666
min      25.000000
25%      26.500000
50%      27.500000
75%      28.500000
max      30.000000
dtype: float64

Veamos el primer elemento de la serie

In [8]:
series1[0]

25

También podemos extraer múltiples elementos

In [9]:
series1[[2,3]]

student3    28
student4    30
dtype: int64

O extraerlo por el índice

In [10]:
series1["student1"]

25

La función .index nos permite ver el índice de la serie

In [11]:
series1.index

Index(['student1', 'student2', 'student3', 'student4'], dtype='object')

También podemos comprobar la existencia de un elemento en la serie

In [12]:
'student2' in series1

True

Si no importamos las series y los data frames separados, podemos crear una serie especificando que estaremos usando pandas:

In [13]:
series2 = pd.Series([40, 20, 35, 70], 
    index = ["price1", "price2", "price3", "price4"])

In [14]:
# Si no importamos pandas como pd podemos especificar su nombre completo
pandas.Series([40, 20, 35, 70], 
index = ["price1", "price2", "price3", "price4"])

NameError: name 'pandas' is not defined

Las series de pandas estam sujetas a un indice, en caso de que no se especifique uno, se creara de manera automatica

In [15]:
series3 = Series([25, 27, 28, 30])
series3

0    25
1    27
2    28
3    30
dtype: int64

Para remplazar algunos elementos de en una serie usamos la funcion .replace

In [16]:
series3.replace([25, 27], [125, 127])

0    125
1    127
2     28
3     30
dtype: int64

Ahora, creemos una serie con numeros aleatorios, para esto usaremos la libreria de NumPy, para eso primero importamos la libreria

In [17]:
import numpy as np

In [18]:
#Creamos nuestra serie con numero aleatorios
series4 = pd.Series(np.random.randn(7))

In [19]:
#imprimimos la serie y examinamos el indice
series4

0    1.488869
1    1.232090
2    0.339102
3   -0.334304
4    1.712287
5   -0.554033
6    0.379255
dtype: float64

In [20]:
#Podemos modificar el indice con .index() method
series4.index = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [22]:
#Y checamos el indice otra vez
series4

a    1.488869
b    1.232090
c    0.339102
d   -0.334304
e    1.712287
f   -0.554033
g    0.379255
dtype: float64

In [23]:
#Ahora creamos otra serie con número aleatorios
series5 = pd.Series(np.random.randn(7))

In [25]:
# ahora uniremos dos series usando la función .concat()
s45 = pd.concat([series4, series5])
#imprimimos la serie
s45

a    1.488869
b    1.232090
c    0.339102
d   -0.334304
e    1.712287
f   -0.554033
g    0.379255
0   -1.415329
1   -0.142624
2    2.407070
3    0.447075
4    1.445659
5   -1.185851
6   -0.572737
dtype: float64

In [26]:
#Checamos una de las estructuras creadas
type(s45)

pandas.core.series.Series

In [27]:
#Removemos alunos elementos de la serie
del(s45[5])
s45

a    1.488869
b    1.232090
c    0.339102
d   -0.334304
e    1.712287
f   -0.554033
g    0.379255
0   -1.415329
1   -0.142624
2    2.407070
3    0.447075
4    1.445659
6   -0.572737
dtype: float64

In [28]:
del(s45['f'])
s45

a    1.488869
b    1.232090
c    0.339102
d   -0.334304
e    1.712287
g    0.379255
0   -1.415329
1   -0.142624
2    2.407070
3    0.447075
4    1.445659
6   -0.572737
dtype: float64